@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/* VARIABLES */
:root {
	--corner-radius: .2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'League Spartan', sans-serif;
}

img {
	width: 1rem;
	display: block;
}

body {
	font-size: 15px;
	margin: 1.5rem;
	background-color: white;
}

.product-grid {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
}

.desc-main {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 500;
	color: hsl(300, 43%, 22%);
	margin: 2rem;
}

.desc-sum {
	line-height: 1.3rem;
	text-align: center;
	margin-bottom: 2rem;
	color: hsl(303, 10%, 53%);
}

.rate1,
.rate2,
.rate3 {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	padding: 1rem;
	height: 4rem;
	color: hsl(300, 43%, 22%);
	font-weight: 700;
	width: 100%;
	margin-bottom: .5rem;
	background-color: hsl(300, 6%, 88%);
	border-radius: var(--corner-radius);
}

figure {
	display: flex;
	flex-flow: row nowrap;
}

.test1,
.test2,
.test3 {
	background-color: hsl(300, 43%, 22%);
	margin: .3rem 0;
	border-radius: var(--corner-radius);
	color: white;
	padding: 2em;
	font-size: 1.2rem;
	line-height: 1.25;
}

.test1 {
	margin-top: 2rem;
}

.test3 {
	margin-bottom: 1rem;
}

.testimony-image {
	width: 3em;
	border-radius: 50%;
	margin-right: 1em;
}

.testimony-info {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 2em;
	justify-content: flex-start;
}

.testimony-info span:first-child {
	font-weight: 700;
}

.testimony-info span:nth-child(2) {
	color: hsl(333, 80%, 67%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 750px) {
	body {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column nowrap;
	}

	.product-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: min-content min-content min-content min-content;
		grid-template-areas: 
			"desc-main desc-main desc-main rate1 rate1 rate1"
			"desc-main desc-main desc-main rate2 rate2 rate2"
			"desc-sum desc-sum desc-sum rate3 rate3 rate3"
			"test1 test1 test2 test2 test3 test3";
		max-width: 75vw;
		width: 75vw;
		column-gap: 1rem;
	}
	
	.desc-main {
		grid-area: desc-main;
		text-align: left;
		font-weight: 700;
		width: 8em;
		margin: 0 0 1em 0;
	}

	.desc-sum {
		grid-area: desc-sum;
		text-align: left;
		padding-right: 3em;
		width: 25em;
	}

	.rate1,
	.rate2,
	.rate3 {
		flex-flow: row nowrap;
		justify-content: left;
		width: 25em;
		height: 3em;
		gap: 2em;
	}

	.rate1 {
		grid-area: rate1;
	}
	
	.rate2 {
		grid-area: rate2;
		margin-left: 3em;
	}

	.rate3 {
		grid-area: rate3;
		margin-left: 6em;
	}

	.test1 {
		grid-area: test1;
	}

	.test2 {
		grid-area: test2;
	}

	.test3 {
		grid-area: test3;
	}
}